* {
    box-sizing: border-box;
}

#card {
    height: 80vh;
}

#header {
    height: 10vh;
}

#output {
    display: none;
    height: 90%;
}

#done {
    display: none;
}

#modalbtn {
    display: none;
}

#convert-info {
    color: orange;
    font-weight: bolder;
}

#done-info {
    color: green;
    font-weight: bolder;
}